@font-face {
  font-family: 'Aeonik Pro';
  src: url('../fonts/Aeonik_Pro.woff2') format('woff2');
  font-display: swap;
}

:root {
  --title-color: #52f9a7;
  --text-color: #c5ced3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aeonik Pro', sans-serif;
}

*::-webkit-scrollbar {
  width: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #1b2027;
  background: linear-gradient(to top, #000000, #031718);
  min-height: 100vh;
  letter-spacing: 0.3px;
}

input,
textarea,
button {
  font-family: inherit;
}

button {
  cursor: pointer;
}

/* SECTION 1 */
/* Row 1 */

.section-1 {
  padding: 8rem 2rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 4.8rem;
  color: var(--title-color);
  line-height: 1em;
  text-shadow: 0 2px 16px rgba(174, 207, 242, .24);
  margin-bottom: 1.6rem;
}

.paragraph {
  font-size: 2rem;
  line-height: 1.3em;
  color: var(--text-color);
}

.container-input {
  margin-top: 4rem;
  position: relative;
}

.label {
  display: block;
  font-size: 1.8rem;
  color: var(--text-color);
  opacity: 0.85;
  margin-bottom: 1rem;
}

.input {
  outline: none;
  background-color: #1d232a80;
  width: 100%;
  border: 2px solid #a6adbb30;
  border-radius: 10px;
  font-size: 1.8rem;
  color: var(--text-color);
  padding: 1.6rem;
  padding-right: 5rem;
  transition: .3s;
}

.input::placeholder {
  letter-spacing: 0.5px;
  color: var(--text-color);
  opacity: .65;
}

.input:focus {
  border: 2px solid #a6adbb90;
}

.delete-text-button {
  border: none;
  background-color: var(--title-color);
  width: 2.6rem;
  height: 2.6rem;
  position: absolute;
  top: 4.6rem;
  right: 1.6rem;
  cursor: pointer;
  border-radius: .5rem;
}

.delete-text-button:active {
  opacity: .8;
}

.delete-text-button svg {
  width: 25px;
  height: 25px;
  fill: #1b2027;
  vertical-align: middle;
}

/* Row 2 */

.row-2 {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
}

.outer-box span {
  font-size: 1.6rem;
  color: var(--text-color);
  opacity: .85;
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.inner-box {
  font-size: 1.8rem;
  padding: 2rem;
  padding-left: 1rem;
  padding-right: 6rem;
  position: relative;
}

.inner-box::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 1rem;
  height: 2px;
  width: 98%;
  background: #a6adbb30;
}

.output-text {
  font-size: 2rem;
  color: var(--text-color);
  word-break: break-all;
}

.copy-button {
  background: none;
  border: none;
  position: absolute;
  top: .5rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.copy-button small {
  font-size: 1rem;
  color: var(--text-color);
}

.copy-button svg {
  width: 25px;
  height: 25px;
  fill: var(--text-color);
  opacity: .85;
  transition: all .2s cubic-bezier(.4, 0, .2, 1);
}

.copy-button:hover svg {
  opacity: 1;
}

/* Add "copied" class with JavaScript */
.copy-button.copied small {
  color: var(--title-color);
}

/* Add "copied" class with JavaScript */
.copy-button.copied svg {
  fill: var(--title-color);
}

/* SECTION 2 */

.section-2 {
  padding: 8rem 2rem;
}

.section-2 .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  position: relative;
}

.arrow-down {
  position: absolute;
  top: -10rem;
  left: 0;
  width: 3.6rem;
}

.section-2 .box-question {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.section-2 h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--title-color);
  line-height: 1.2em;
  text-wrap: balance;
  width: 70%;
}

.section-2 p {
  font-size: 1.8rem;
  color: var(--text-color);
  line-height: 1.3em;
  text-wrap: balance;
  width: 70%;
}

/* FOOTER */

.footer {
  padding: 2rem;
}

.footer p {
  font-size: 1.6rem;
  color: var(--text-color);
  opacity: .85;
}

.footer-icons {
  margin-top: 1.6rem;
  display: flex;
  gap: 1rem;
}

.footer-icons svg {
  width: 26px;
  height: 26px;
  fill: var(--text-color);
  cursor: pointer;
  transition: .4s ease;
}

.footer-icons svg:hover {
  transform: scale(1.2);
}

/* RESPONSIVE */

@media screen and (max-width: 600px) {
  .input::placeholder {
    font-size: 1.6rem;
  }

  .delete-text-button svg {
    width: 20px;
    height: 20px;
  }

  .section-2 h2 {
    width: 100%;
  }

  .section-2 p {
    width: 90%;
  }
}

@media screen and (max-width: 325px) {
  html {
    font-size: 55%;
  }
}